In [38]:
import pandas as pd
import os

# set the path to the folder containing the Excel files
folder_path = r'/Users/soyebgolam/Documents/Masters-SecondSemester/Research Methods/Coursework2/Data_tableau'

# get a list of all the Excel files in the folder
file_list = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]


dfs = []

# iterate over the file list and read each file
for file in file_list:
    df = pd.read_excel(os.path.join(folder_path, file))
    dfs.append(df)

# concatenate dfs
df = pd.concat(dfs)

In [39]:
df['PopName'].unique()

array(['USA', 'DEUTNP', 'FRATNP'], dtype=object)

In [40]:
df.dtypes

PopName          object
Area              int64
Year              int64
YearReg           int64
YearInterval      int64
Sex              object
Age              object
AgeInterval      object
Lexis            object
RefCode         float64
Access           object
Deaths            int64
NoteCode1        object
NoteCode2        object
NoteCode3        object
LDB               int64
dtype: object

In [41]:
df['Age'].unique()

array(['0', '1', '2', '3', '4', '5', '10', '15', '20', '25', '30', '35',
       '40', '45', '50', '55', '60', '65', '70', '75', '80', '85', '90',
       '95', '100', 'UNK', '86', '87', '88', '89', '91', '92', '93', '94',
       '96', '97', '98', '99', '101', '102', '103', '104', '105', '106',
       '107', '108', '109', '110', '111', '112', '113', '114', '115',
       '116', '117', '118', '119', '120', '121', '122', '123', '124',
       '125', '126', '127', '130', '6', '7', '8', '9', '11', '12', '13',
       '14', '16', '17', '18', '19', '21', '22', '23', '24', '26', '27',
       '28', '29', '31', '32', '33', '34', '36', '37', '38', '39', '41',
       '42', '43', '44', '46', '47', '48', '49', '51', '52', '53', '54',
       '56', '57', '58', '59', '61', '62', '63', '64', '66', '67', '68',
       '69', '71', '72', '73', '74', '76', '77', '78', '79', '81', '82',
       '83', '84', '128', '129', 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0,
       8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0,
       19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0,
       30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0,
       41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0,
       52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0,
       63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
       74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0,
       85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0,
       96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0,
       106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, nan,
       'TOT'], dtype=object)

In [42]:
df = df.dropna(subset=['Age'])

In [43]:
# Filter out rows where 'Age' contains 'UKN' or 'TOT'
df = df[~df['Age'].isin(['UNK', 'TOT'])]

df['Age'] = df['Age'].astype(int)

In [44]:
# Filter the data to include only records for children aged 0-12
children_df = df[(df['Age'] >= 0) & (df['Age'] <= 12)]

children_df

,PopName,Area,Year,YearReg,YearInterval,Sex,Age,AgeInterval,Lexis,RefCode,Access,Deaths,NoteCode1,NoteCode2,NoteCode3,LDB
0,USA,2,1933,1933,1,f,0,1,RR,1.0,O,52556,.,.,.,1
1,USA,2,1933,1933,1,f,1,1,RR,1.0,O,8907,.,.,.,1
2,USA,2,1933,1933,1,f,2,1,RR,1.0,O,4332,.,.,.,1
3,USA,2,1933,1933,1,f,3,1,RR,1.0,O,3158,.,.,.,1
4,USA,2,1933,1933,1,f,4,1,RR,1.0,O,2491,.,.,.,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58952,FRATNP,324,2020,2020,1,m,10,1,TU,130.0,O,15,.,.,.,1
58953,FRATNP,325,2020,2020,1,m,11,1,TL,130.0,O,17,.,.,.,1
58954,FRATNP,326,2020,2020,1,m,11,1,TU,130.0,O,13,.,.,.,1
58955,FRATNP,327,2020,2020,1,m,12,1,TL,130.0,O,14,.,.,.,1
58956,FRATNP,328,2020,2020,1,m,12,1,TU,130.0,O,29,.,.,.,1

In [45]:
children_df.groupby('PopName')['Year'].max()

PopName
DEUTNP    2020
FRATNP    2020
USA       2021
Name: Year, dtype: int64

In [46]:
children_df.groupby('PopName')['Year'].min()

PopName
DEUTNP    1991
FRATNP    1816
USA       1933
Name: Year, dtype: int64

In [47]:
df_children = children_df[(children_df['Year'] == 1991) | (children_df['Year'] == 2020)]
df_children

,PopName,Area,Year,YearReg,YearInterval,Sex,Age,AgeInterval,Lexis,RefCode,Access,Deaths,NoteCode1,NoteCode2,NoteCode3,LDB
17198,USA,1,1991,1991,1,f,0,1,TL,253.0,O,13641,.,.,.,1
17199,USA,1,1991,1991,1,f,0,1,TU,253.0,O,2270,.,.,.,1
17200,USA,1,1991,1991,1,f,1,1,TL,253.0,O,783,.,.,.,1
17201,USA,1,1991,1991,1,f,1,1,TU,253.0,O,566,.,.,.,1
17202,USA,1,1991,1991,1,f,2,1,TL,253.0,O,428,.,.,.,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58952,FRATNP,324,2020,2020,1,m,10,1,TU,130.0,O,15,.,.,.,1
58953,FRATNP,325,2020,2020,1,m,11,1,TL,130.0,O,17,.,.,.,1
58954,FRATNP,326,2020,2020,1,m,11,1,TU,130.0,O,13,.,.,.,1
58955,FRATNP,327,2020,2020,1,m,12,1,TL,130.0,O,14,.,.,.,1
58956,FRATNP,328,2020,2020,1,m,12,1,TU,130.0,O,29,.,.,.,1

In [48]:
df_children = df_children.drop(['NoteCode1', 'NoteCode2', 'NoteCode3', 'Access','LDB'], axis=1)
df_children

,PopName,Area,Year,YearReg,YearInterval,Sex,Age,AgeInterval,Lexis,RefCode,Deaths
17198,USA,1,1991,1991,1,f,0,1,TL,253.0,13641
17199,USA,1,1991,1991,1,f,0,1,TU,253.0,2270
17200,USA,1,1991,1991,1,f,1,1,TL,253.0,783
17201,USA,1,1991,1991,1,f,1,1,TU,253.0,566
17202,USA,1,1991,1991,1,f,2,1,TL,253.0,428
...,...,...,...,...,...,...,...,...,...,...,...
58952,FRATNP,324,2020,2020,1,m,10,1,TU,130.0,15
58953,FRATNP,325,2020,2020,1,m,11,1,TL,130.0,17
58954,FRATNP,326,2020,2020,1,m,11,1,TU,130.0,13
58955,FRATNP,327,2020,2020,1,m,12,1,TL,130.0,14
58956,FRATNP,328,2020,2020,1,m,12,1,TU,130.0,29

In [49]:
df_children.RefCode.unique()

array([253., 303.,   5.,  55.,  26., 130.])

In [50]:
df_children['AgeInterval'].unique()

array(['1', 1.0], dtype=object)

In [51]:
df_children['AgeInterval'] = df_children['AgeInterval'].astype(int)

In [52]:
df_children['Sex'] = df_children['Sex'].apply(str)
df_children['PopName'] = df_children['PopName'].apply(str)

In [54]:
df_children = df_children.reset_index(drop=True)
df_children

,PopName,Area,Year,YearReg,YearInterval,Sex,Age,AgeInterval,Lexis,RefCode,Deaths
0,USA,1,1991,1991,1,f,0,1,TL,253.0,13641
1,USA,1,1991,1991,1,f,0,1,TU,253.0,2270
2,USA,1,1991,1991,1,f,1,1,TL,253.0,783
3,USA,1,1991,1991,1,f,1,1,TU,253.0,566
4,USA,1,1991,1991,1,f,2,1,TL,253.0,428
...,...,...,...,...,...,...,...,...,...,...,...
307,FRATNP,324,2020,2020,1,m,10,1,TU,130.0,15
308,FRATNP,325,2020,2020,1,m,11,1,TL,130.0,17
309,FRATNP,326,2020,2020,1,m,11,1,TU,130.0,13
310,FRATNP,327,2020,2020,1,m,12,1,TL,130.0,14
311,FRATNP,328,2020,2020,1,m,12,1,TU,130.0,29

In [55]:
# drop useless columns
df_children = df_children.drop(['Lexis','RefCode', 'YearReg'], axis=1)
df_children

    PopName  Area  Year  YearInterval Sex  Age  AgeInterval  Deaths
0       USA     1  1991             1   f    0            1   13641
1       USA     1  1991             1   f    0            1    2270
2       USA     1  1991             1   f    1            1     783
3       USA     1  1991             1   f    1            1     566
4       USA     1  1991             1   f    2            1     428
..      ...   ...   ...           ...  ..  ...          ...     ...
307  FRATNP   324  2020             1   m   10            1      15
308  FRATNP   325  2020             1   m   11            1      17
309  FRATNP   326  2020             1   m   11            1      13
310  FRATNP   327  2020             1   m   12            1      14
311  FRATNP   328  2020             1   m   12            1      29

[312 rows x 8 columns]

In [56]:
df_children['children'] = 'Children[0-12]'
df_children

,PopName,Area,Year,YearInterval,Sex,Age,AgeInterval,Deaths,children
0,USA,1,1991,1,f,0,1,13641,Children[0-12]
1,USA,1,1991,1,f,0,1,2270,Children[0-12]
2,USA,1,1991,1,f,1,1,783,Children[0-12]
3,USA,1,1991,1,f,1,1,566,Children[0-12]
4,USA,1,1991,1,f,2,1,428,Children[0-12]
...,...,...,...,...,...,...,...,...,...
307,FRATNP,324,2020,1,m,10,1,15,Children[0-12]
308,FRATNP,325,2020,1,m,11,1,17,Children[0-12]
309,FRATNP,326,2020,1,m,11,1,13,Children[0-12]
310,FRATNP,327,2020,1,m,12,1,14,Children[0-12]
311,FRATNP,328,2020,1,m,12,1,29,Children[0-12]

In [57]:
df_children['PopName'].unique()

array(['USA', 'DEUTNP', 'FRATNP'], dtype=object)

In [58]:
# create new excels
df_children.to_excel('new-output.xlsx', index=False)

In [59]:
df.to_csv('my_data.txt', sep='\t', index=False)